<html>
<head>
<meta charset="utf-8" >
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<title>-血戰-拼叁張</title>
<script type="text/javascript" src="/js/config.js"> </script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/load.js"> </script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/room.js"> </script>

<link rel="stylesheet" type="text/css" href="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/css/nflower-xp_jiangjun.css">
<link rel="stylesheet" type="text/css" href="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/css/alertbox.css">
<link rel="stylesheet" type="text/css" href="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/css/fuzhi.css">
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/fastclick.js"></script>
<script>

    window.addEventListener('load', function() {
        FastClick.attach(document.body);
    }, false);

    globalData.fileUrl='http://103.8.69.108:1999/ttxinshenshou/common_hh/'
    globalData.cfileUrl='http://103.8.69.108:1999/ttxinshenshou/jiutian/'

    var newNum = "";
    var per = window.innerWidth / 530;
    var perW = window.innerWidth / 530 /30 *140;
    
    var configData = {
        "appId":"wx828d0a9f96019d90",
        "timestamp":"1636762666",
        "nonceStr":"3db53593d784af7b3c30ff01b975b607",
        "signature":"fecda59c9dde3e635db9839e355fd5c9cb24f39d",
    };
    
</script>
</head>
<style>
    /*背景层*/
#popLayer {
  display: none;
  background-color: #B3B3B3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
}

/*弹出层*/
#popBox {
  display: none;
  background-color: #FFFFFF;
  z-index: 10001;
  width: 200px;
  height: 350px;
  position:fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin:auto;
  text-align: center;
}

#popBox .close{
  text-align: right;
  margin-right: 5px;
  background-color: #F8F8F8;
}

/*关闭按钮*/
#popBox .close a {
  text-decoration: none;
  color: #2D2C3B;
}

#popBox button {

  width: 100px;
  margin-top: 15px;
  margin-bottom: 10px;

}

    .copy-tip {
        background: rgba(0, 0, 0, .6);
        color: #fff;
        position: fixed;
        bottom: .6rem;
        font-size: .15rem;
        border-radius: 5px;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 89;
    }

    #room_str {
        position: fixed;
        top: -300px;
    }

    .zhuonuo {
        position: fixed;
        right: 4rem;
        width: 4rem;
        z-index: 89;
        top: .5rem;
    }

    /*自动准备*/
    .auto-ready {
        position: fixed;
        right: 4rem;
        width: 4rem;
        z-index: 89;
        top: 2.5rem;
    }
    .auto-ready img {
        width: 100%;
    }

    .clickMe {
        position: fixed;
        top: 10px;
        right: 1.5vh;
        width: 40px;
        z-index: 90;
    }

    .clickMe img {
        width: 100%;
    }
    #dialog{
        position: fixed;
        width: 300px;
        height: 150px;
        padding: 10px;
        box-sizing: border-box;
        background: #fff;
        font-size: 16px;
        left: 50%;
        top: 50%;
        margin-left: -150px;
        margin-top:-75px;
        border-radius:10px;
        z-index: 99;
    }
    #dialog .main{
        word-wrap: break-word;
        word-break: normal;
    }
    #dialog .other{
        text-align: center;
        margin-top: 38px
    }
    #dialog img{
        position: absolute;
        top: -20px;
        right: -20px;
        width: 35px;
    }
    .indiv{position: fixed;bottom: 50px;left: 0px;z-index:90;height: 40px;}
    .indiv img{height: 40px;position: absolute;left: 0;top:0;z-index: 9;}
    .indiv .num{height: 24px;line-height: 24px;text-align: right;color:#fff;font-size:16px;margin-top: 8px;position:relative;}

</style>
<body>
    
<div id="dialog" style="display:none">
    <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/fiesc/images/common/cancel.png" onclick="fuzhiMain.closeDialog()">
    <p id="main" class="main">
    </p>
    <p class="other">
        请手动复制
    </p>
</div>
<span class="copy-tip" id="tips" style="display:none">已复制到剪贴板</span>
<img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/fiesc/images/common/33fz.png" class="needsclick zhuonuo copyUrl" data-clipboard-action="copy" id="copy_btn"
     onclick="fuzhiMain.link()" />
<textarea id="room_str" readonly="readonly"></textarea>
<div style="position: fixed;width:100%;height:100%;top:0;left:0;background: #000;z-index:115;" id="loading">
    <div class="load4">
        <div class="loader">Loading...</div>
    </div>
</div>

<!-- position: relative; width: 100%;margin: 0 auto; background: #fff; display: none; -->
<div class="main" id="app-main" style="display: none;'">

    <!-- 观战功能 -->
    <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/is_watching.png" style="position: fixed;z-index: 90;width: 40%;left: 30%;top: 56%;" v-show="isWatching==1">
    <div class="watch" id="vwatch" v-show="showGuest==1">
        <div class="watchBack" v-on:click="hideGuests"></div>
        <div class="mainPart">
            <img v-on:click="hideGuests" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/cancel.png" class="watchCancel" />
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/title.png" class="watchTitle" />
            <div class="playerList">
                <div class="playerItem" v-for="guest in guests">
                    <img v-bind:src="guest.avatar" class="playerAvatar">
                    <div class="playerName">{{guest.nickname}}</div>
                    <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/icon.png" class="playerIcon">
                </div>
            </div>
            <div class="buttonMiddle">
                <img v-show="showWatchButton" v-on:click="guestRoom" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/watch_true.png"  />
                <img v-show="showSitdownButton" v-on:click="sitDown" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/sitdown_true.png"  />
            </div>
        </div>
    </div>

    <!-- div class="roomCard">
        <img  src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/ticket.png" />
        <div class="num">
            <div style="position: absolute;top:0;left: 0;width: 100%;height: 100%;background: #fff;opacity: .2;border-radius:10px;"></div>
            <div style="position: relative;padding: 0 10px 0 35px;">{{roomCard}}张</div>
        </div>
    </div -->
    <div class="alertTip" v-show="isShowAlertTip">
        <div class="alertTipBG"></div>
        <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/alertTipOk.png" v-show="alertTipType==1">
        <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/alertTipWarn.png" v-show="alertTipType==2">
        <div class="alertTipText" >{{alertTipText}}</div>
    </div>

    <div class="roomCard"  v-on:click="showIndividuality">
        <img  src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/myText.png" />
        <div class="num">
            <div style="position: absolute;top:0;left: 0;width: 100%;height: 100%;background: #fff;opacity: .2;border-radius:10px;"></div>
            <div style="position: relative;padding: 0 10px 0 35px;">{{userData.individuality}}<span v-if='userData.individuality==""'>点击设置</span></div>
        </div>
    </div>
    <div style="display: none;" v-show="isShowIndividuality==1">
        <div class="individuaMask" style="" v-on:click="hideIndividuality"></div>
        <div class="individuaFrame" style="">
            <div class="title" >防伪码设置</div>
            <div class="text">
                <input v-model="individuality" v-on:input="individualityChange()" type="text" placeholder="设置1-6位英文或数字防伪码">
            </div>
            <div class="error" >{{individualityError}}</div>
            <div class="buttonContainer" v-on:click="setIndividuality">
                <div class="button">确认</div>
            </div>
            <div class="buttonClose" v-on:click="hideIndividuality">
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/close.png">
            </div>
        </div>
    </div>


<!--    <img class="return" src="--><!--files/images/common/icon_home3-2.png" v-on:click="showAlert(3,'确认返回主页？')" />-->
    <!--img class="return" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/icon_note3.png" v-on:click="showNoteImg()" style="right:9vh; " --> 

    <div class="round">{{game.round}}&nbsp/&nbsp{{game.total_num}}&nbsp局</div>

    <div class="clickMe"><img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/clickme_circle.png"
                              v-on:click="location.reload()"></div>

    <!--自动准备-->
    <div class="auto-ready" v-if="isWatching!=1" v-on:click="autoReady()">
        <img v-show="appData.isAutoReady==1" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/ready_true2.png">
        <img v-show="appData.isAutoReady==0" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/ready_false2.png">
    </div>

    <div class="disconnect" v-show="!connectOrNot" style="position: fixed;top:45%;left: 0;width: 100%;text-align: center;z-index: 101">
        <div style="width: 250px;height:27px;position: absolute;top:-2;left: 50%;margin-left: -125px;background: #000;opacity: .5;border-radius:15px;">
        </div>
        <a style="font-size: 16px;color: #fff;padding: 5px 14px;position:relative;">已断开连接，正在重新连接...</a>
    </div>

    <!--    防伪码-->
    <div v-show="isShowAlert&&alertType==4"
         style="z-index:110;position:fixed;width:15vh;height:12vh;top:7vh;left:50%;margin-left:-7.5vh;background:url(http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/fwmbg.png) no-repeat 0 0 / 100% 100%">
        <div style="width:15vh;height:5vh;line-height:5vh;padding-top:0.5vh;text-align:center;font-size:2.8vh;font-weight:bold;color:#fff">
            {{userData.individuality}}
        </div>
        <div style="width:15vh;height:4vh;line-height:4vh;text-align:center;color:#ddd;font-size:2.5vh;font-weight:bold;background:;">
            防伪码
        </div>
    </div>

    <img class="bottom"  src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/nflowerxp/bottom.png" />
    <img class="bottomGameNote" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/icon_note3.png" v-on:click="showNoteImg" style="">
    <img class="bottomGameRule" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/icon_rule3.png" v-on:click="showGameRule" style="">
    <img class="bottomGameHistory" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/icon_sound3.png" v-on:click="showAudioSetting" style="z-index: 110">
    <img class="bottomGameMessage" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/icon_message3.png" v-on:click="showMessage">

    <img class="bottomWatch" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/icon_watch.png" v-on:click="showGuests"/> 
    <img class="return" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/icon_home3-2.png" v-on:click="showAlert(3,'确认返回主页？')"/>

    <div class="myCardType">
        <div v-show="player[0].card_type==1">高牌</div>
        <div v-show="player[0].card_type==2">对子</div>
        <div v-show="player[0].card_type==3">顺子</div>
        <div v-show="player[0].card_type==4">同花</div>
        <div v-show="player[0].card_type==5">同花顺</div>
        <div v-show="player[0].card_type==6">三条</div>
    </div>

    <div  class="table" id="table">
        <img class="tableBack" id="tableBack" src="http://103.8.69.108:1999/ttxinshenshou/honghu/files/images/nflowerxp/table.jpg" />

        <!-- 筹码  -->        
        <div class="place" v-show="game.status==2">
            <div class="totalScore" style="top:-38px;left: 24px;">
                <div class="scores"  style="background: none;">
                    <div style="position: absolute;height: 18px;padding: 0 12px;border-radius: 9px;width: 52%;background: #000;opacity: .3;left: 0;}"></div>
                    <div style="position: relative;">{{game.score}}</div>
                </div>
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/totalScore.png" />
            </div>
            <div style="color: #000;text-align: center;font-size: 13px;margin-top: -18px;line-height: 18px;opacity:.7;">第{{game.curr_circle}}/{{ruleInfo.bet_circle}}轮</div>
            <div class="scoresArea"></div>
        </div>

        <!-- 火焰 -->
        <div class="flame" v-show="ruleInfo.xp_chip==game.currentScore">
            <div class="flame1"></div>
            <div class="flameImg flame2"></div>
            <div class="flameImg flame3"></div>
            <div class="flameImg flame4"></div>
        </div>

        <!-- 发牌  -->
        <div class="cardDeal">

            <div v-for="p in player" v-show="p.account_id>0&&p.account_status>2&&(p.num!=1||(p.account_status!=4&&p.account_status!=6&&p.account_status!=7&&!player[0].is_showCard))&&(game.cardDeal>0||p.account_status==6||p.account_status==7)">
                
                <div class="card" v-bind:class="'card' + p.num + '1'" v-show="game.cardDeal>0||p.account_status==6||p.account_status==7"></div>
                <div class="card" v-bind:class="'card' + p.num + '2'" v-show="game.cardDeal>1||p.account_status==6||p.account_status==7"></div>
                <div class="card" v-bind:class="'card' + p.num + '3'" v-show="game.cardDeal>2||p.account_status==6||p.account_status==7"></div>
                <div class="isSeen" v-bind:class="'isSeen' + p.num" v-show="p.num>1&&p.account_status==4"></div>        
                <div class="isQuit" v-bind:class="'isQuit' + p.num" v-show="p.account_status==6"></div>     
                <div class="isLose" v-bind:class="'isLose' + p.num" v-show="p.account_status==7&&!p.is_pk"></div>
            </div>
            
            <!-- 自己的牌 -->
            <div class="myCards" v-show="player[0].is_showCard&&player[0].account_status>2" >
                <div v-show="player[0].is_win" class="winText" >
                    <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/text_win.png" v-show="!player[0].win_show && player[0].account_id==userData.accountId&&player[0].is_guest!=1" />
                    <div class="winScore" v-show="player[0].win_show" style="width: 100%;left: 0;text-align: center;font-size: 16px;">
                        +{{player[0].current_win}}
                    </div>
                </div>  

                <div class="cards card0">
                    <div class="face front"></div>
                    <div class="face back" v-bind:class="'card' + player[0].card[0]"></div>
                    <div class="myQuitBack" v-show="player[0].account_status==6||player[0].account_status==7"></div>
                </div> 

                <div class="cards card1">
                    <div class="face front"></div>
                    <div class="face back" v-bind:class="'card' + player[0].card[1]"></div>
                    <div class="myQuitBack" v-show="player[0].account_status==6||player[0].account_status==7"></div>
                </div>  

                <div class="cards card2">
                    <div class="face front"></div>
                    <div class="face back" v-bind:class="'card' + player[0].card[2]"></div>
                    <div class="myQuitBack" v-show="player[0].account_status==6||player[0].account_status==7"></div>
                </div>
                
                <!-- width: 70px;height:20px;position: absolute;top:17px;left:50%;margin-left: -40px;z-index: 95;text-align: center;color: #fff;font-size: 15px;padding: 1px 5px;-->
                <div style="width: 70px;height:20px;position: absolute;top:22px;left:50%;margin-left: -40px;z-index: 95;text-align: center;color: #fff;font-size: 15px;padding: 1px 5px;" v-if="player[0].account_id==userData.accountId&&player[0].is_guest!=1" v-show="player[0].account_status==5&&player[0].playing_status==2 && ruleInfo.look_cond<game.curr_circle" v-on:click="choose(1)">
                    <!-- <div style="position: absolute;top:0;left: 0;border-radius: 11px;opacity: 0.3;width: 100%;height: 100%;background: #000;"></div>
                    <div style="position: relative;opacity: 0.9;">点击看牌</div> -->
                    <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/text_click2look.png" style="width: 70px;height: 20px">
                </div>

                <!-- 观战功能 -->
                <div class="isSeen isSeen1" v-if="player[0].account_id!=userData.accountId&&isWatching==1" v-show="player[0].account_status==4 && game.cardDeal>0"></div>
                <div class="isQuit isQuit1" v-show="player[0].account_status==6"></div>                     
                <div class="isLose isLose1" v-show="player[0].account_status==7"></div>                     
            </div>

        </div>

        <!-- 玩家     -->     
        <div  v-for="p in player" key="p.num" class="member" v-bind:class="'member' + p.num" v-show="p.account_id>0&&!p.is_pk">
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/player_bg2.png" class="background">
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/player_selected.png" class="background" v-show="p.is_win&&p.num==1">
            <div class="title">{{p.nickname}}</div>
            <!--
            <img v-bind:src="p.headimgurl" class="avatar">
            -->

            <div class="avatar" onclick="all_panel(this)" :all_id="p.account_id">
                <img v-bind:src="p.headimgurl" style="position: absolute;left:25%;width: 100%;border-radius: .4vh;">

                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/avatar_timer.jpg" style="position: absolute;left:25%;width: 100%;border-radius: .4vh;" v-show="p.playing_status>1">
                <div style="position: absolute; top: 0px;left: 25%;width: 100%; line-height: 6.5vh;text-align: center;color: #602603;font-size: 20px;" v-if="p.num!=1" v-show="p.playing_status>1">{{p.limit_time}}</div>
                <div style="position: absolute; top: 0px;left: 25%;width: 100%; line-height: 8vh;text-align: center;color: #602603;font-size: 20px;" v-if="p.num==1" v-show="p.playing_status>1">{{p.limit_time}}</div>
            </div>

            <div class="score">{{p.account_score}}</div>
            <div class="quitBack" v-show="((p.account_status==6||p.account_status==7)&&p.num==1)||(p.num>1&&p.online_status==0)" ></div>

            <!-- 观战功能 -->
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/guest_avatar.png" style="position: absolute;top: 38%;left: 17%;width: 70%;" v-show="p.is_guest==1">
            
            <div class="isReady" v-show="game.round!=game.total_num">
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/ready_button2.png" class="unready" v-if="p.num==1&&p.account_id==userData.accountId&&p.is_guest!=1" v-show="(p.account_status==1||p.account_status==0)&&game.status==1" v-on:click="imReady" />
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/ready_text.png" class="ready" v-show="p.account_status==2" />
            </div>

            <div class="cardOver" v-bind:class="'cardOver' + p.num" v-if="p.num!=1" v-show="(p.bonus||game.cardDeal==-1)&&p.account_status>1&&p.account_status!=6&&p.account_status!=7&&p.card.length>0">
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/cardBox.png" class="cardResult" v-show="!p.is_win" />
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/cardBoxWin.png" class="cardResult" v-show="p.is_win" />
                <div class="name">{{p.nickname}}</div>
                <div class="openCard">
                    <div class="cards card0">
                        <div class="face front"></div>
                        <div class="face back" v-bind:class="'card' + p.card[0]"></div>
                    </div> 
                    <div class="cards card1">
                        <div class="face front"></div>
                        <div class="face back" v-bind:class="'card' + p.card[1]"></div>
                    </div>        
                    <div class="cards card2">
                        <div class="face front"></div>
                        <div class="face back" v-bind:class="'card' + p.card[2]"></div>
                    </div>          
                </div>
                <div v-show="p.is_win&&p.win_show" class="winText">
                    <div class="winType" v-bind:class="'winType' + p.win_type"></div>
                    <div class="winScore" v-bind:class="'winType' + p.win_type">+{{p.current_win}}</div>
                </div>
            </div>
            <div class="PKbox" v-show="pk.round==1&&pkPeople.length>0&&p.is_readyPK&&(player[0].account_status==5||player[0].account_status==4)" v-on:click="choose(5,p.account_id)">
                <div class="PKboxBack"></div>
            </div>
        </div>

        <!-- 玩家消息  -->
        <div v-for="p in player">
            <div class="messageSay" v-bind:class="'messageSay' + p.num" v-show="p.messageOn">
                <div>{{p.messageText}}</div>
                <div class="triangle"> </div>
            </div>
        </div>

        <div class="clock" v-show="game.time>-1">
            {{game.time}}
        </div>
        
        <!-- 按键     --> 
        <div class="myButton" v-if="player[0].account_id==userData.accountId&&player[0].is_guest!=1 && player[0].playing_status==2&&pk.round==0">
            <div class="scoreList" >
                <div v-show="player[0].account_status==4">      

                    <div class="scoreItem scoreItemText scoreItem11"  v-show="game.currentScore<=scoreList1[0]" v-on:click="choose(2,scoreList1[0])">{{scoreList1[0]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[0]">{{scoreList1[0]}}</div>  
                    <div class="scoreItem scoreItemText scoreItem21"  v-show="game.currentScore<=scoreList1[1]" v-on:click="choose(2,scoreList1[1])">{{scoreList1[1]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[1]">{{scoreList1[1]}}</div>
                    <div class="scoreItem scoreItemText scoreItem31"  v-show="game.currentScore<=scoreList1[2]" v-on:click="choose(2,scoreList1[2])">{{scoreList1[2]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[2]">{{scoreList1[2]}}</div>  
                    <div class="scoreItem scoreItemText scoreItem41"  v-show="game.currentScore<=scoreList1[3]" v-on:click="choose(2,scoreList1[3])">{{scoreList1[3]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[3]">{{scoreList1[3]}}</div>
                    
                    <div class="scoreItemText scoreItem00"  v-show="game.curr_circle<=ruleInfo.xp_cond||(roomCard<ruleInfo.bloody_chip_ticket &&ruleInfo.xp_chip!=game.currentScore)" >{{ruleInfo.xp_chip}}</div>
                    <div class="scoreItemText scoreItem01"  v-show="game.curr_circle>ruleInfo.xp_cond&&(roomCard>=ruleInfo.bloody_chip_ticket)||ruleInfo.xp_chip==game.currentScore" v-on:click="choose(2,ruleInfo.xp_chip)">{{ruleInfo.xp_chip}}</div>
                    <!--div class="bloodyNoty" v-if="ruleInfo.bloody_chip_tip!=''">
                        <a class="text">{{ruleInfo.bloody_chip_tip}}</a>
                    </div-->
                </div>

                <!-- 闷牌 -->                 
                <div v-show="player[0].account_status==5">
                    <div class="scoreItem scoreItemText scoreItem51"  v-show="game.currentScore<=scoreList1[0]" v-on:click="choose(2,scoreList2[0])">{{scoreList2[0]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[0]">{{scoreList2[0]}}</div>  
                    <div class="scoreItem scoreItemText scoreItem11"  v-show="game.currentScore<=scoreList1[1]" v-on:click="choose(2,scoreList2[1])">{{scoreList2[1]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[1]">{{scoreList2[1]}}</div>
                    <div class="scoreItem scoreItemText scoreItem21"  v-show="game.currentScore<=scoreList1[2]" v-on:click="choose(2,scoreList2[2])">{{scoreList2[2]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[2]">{{scoreList2[2]}}</div>  
                    <div class="scoreItem scoreItemText scoreItem61"  v-show="game.currentScore<=scoreList1[3]" v-on:click="choose(2,scoreList2[3])">{{scoreList2[3]}}</div>
                    <div class="scoreItem scoreItemText scoreItem50"  v-show="game.currentScore>scoreList1[3]">{{scoreList2[3]}}</div>  
                    
                    <div class="scoreItemText scoreItem00"  v-show="game.curr_circle<=ruleInfo.xp_cond||(roomCard<ruleInfo.bloody_chip_ticket&&ruleInfo.xp_chip!=game.currentScore)">{{ruleInfo.xp_chip/2}}</div>
                    <div class="scoreItemText scoreItem01"  v-show="game.curr_circle>ruleInfo.xp_cond&&(roomCard>=ruleInfo.bloody_chip_ticket||ruleInfo.xp_chip==game.currentScore)" v-on:click="choose(2,ruleInfo.xp_chip/2)">{{ruleInfo.xp_chip/2}}</div>
                    <!--div class="bloodyNoty" v-if="ruleInfo.bloody_chip_tip!=''">
                        <a class="text">{{ruleInfo.bloody_chip_tip}}</a>
                    </div-->
                </div>
            </div>
            <div class="doubleButton">
                <div class="isOver">
                    <div class="leftButton button" v-on:click="choose(3,1)"></div>
                    <div class="rightButton button" v-show="game.can_open==1&&pkPeople.length>0" v-on:click="choose(4,1)"></div>
                    <div class="rightButton1 button" v-show="game.can_open==0||pkPeople.length==0" ></div>
                </div>
            </div>
        </div>

        <div class="pkBackground" v-show="pk.round==1&&pkPeople.length>0&&(player[0].account_status==5||player[0].account_status==4)" v-on:click="quitPk">
            <div class="pkBackText">选择比牌对象</div>
        </div>      
    </div>

    <!-- 特殊提示  -->
    <div class="alert" v-show="isShowNoteImg" v-on:click="hideNoteImg()">
        <div class="alertBack"></div>
        <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/text_protocol.png" style="position: absolute;top:18vh;width:80vw;left: 10vw; " />
    </div>  

    <div class="alert" id="valert" v-show="isShowAlert">
        <div class="alertBack"></div>
        <div class="mainPart">
            <div class="backImg">
                <div class="blackImg"></div>
            </div>

            <div class="alertText">
                <div class="rull" v-show="alertType==4"  style="font-size: 2.2vh">
                    底分：<a>{{ruleInfo.default_score}}分<br></a>
                    筹码：
                    <a>{{scoreList2[0]}}/{{scoreList1[0]}},{{scoreList2[1]}}/{{scoreList1[1]}},{{scoreList2[2]}}/{{scoreList1[2]}},{{scoreList2[3]}}/{{scoreList1[3]}}</a><br>
                    <a v-if="ruleInfo.disable_pk_men==1">规则：</a>
                    <a v-if="ruleInfo.disable_pk_men==1">闷牌，全场禁止比牌<br></a>
                    下注：
                    <a >{{ruleInfo.bet_circle}}轮<br></a>
                    比牌：
                    <a >>{{ruleInfo.pk_cond}}轮<br></a>
                    必闷：
                    <a >{{ruleInfo.look_cond}}轮<br></a>
                    血拼：
                    <a >{{ruleInfo.xp_circle}}轮 {{ruleInfo.xp_chip}}分<br></a>                
                    局数：<a >{{game.total_num}}局</a><br>
                </div>
                <div>{{alertText}}</div>
            </div>
            
            <div v-show="alertType==2">
                <div class="buttonLeft" v-on:click="hall">返回首页</div>
                <div class="buttonRight" v-on:click="hall">创建房间</div>
            </div>          
            <div v-show="alertType==3">
                <div class="buttonLeft" v-on:click="hall">返回首页</div>
                <div class="buttonRight" v-on:click="closeAlert">取消</div>
            </div>          

            <!-- 观战功能 -->
            <div v-show="alertType==4" class="button">
                <div class="buttonLeft" v-show="joinType==1||joinType==3" v-on:click="guestRoom"><img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/watch_true.png" ></div>
                <div class="buttonRight " v-show="joinType==1||joinType==2" v-on:click="sitDown"><img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/sitdown_true.png" ></div>

                <div class="buttonLeft " v-show="joinType==2" ><img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/watch_false.png" ></div>
                <div class="buttonRight " v-show="joinType==3"><img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/guest/sitdown_false.png" ></div>
            </div>
        
            <div v-show="alertType==7">
                <div class="buttonMiddle" v-on:click="hall">返回首页</div>
            </div>  
            <div v-show="alertType==8">
            </div>
            <div v-show="alertType==11">
                <div class="buttonMiddle" v-on:click="closeAlert">知道了</div>
            </div>
            <div v-show="alertType==21">
                <div class="buttonMiddle" v-on:click="closeAlert">确定</div>
            </div>
            <div v-show="alertType==22">
                <div class="buttonMiddle" v-on:click="closeAlert">确定</div>
            </div>
            <div v-show="alertType==23">
                <div class="buttonMiddle" v-on:click="finishBindPhone()">确定</div>
            </div>  
            <div v-show="alertType==31">
                <div class="buttonMiddle" v-on:click="reloadView()">确定</div>
            </div>
            <div v-show="alertType==32">
                    <div class="buttonMiddle" v-on:click="reloadView()">重新登录</div>
            </div>              
        </div>
    </div>

    <!--  PK  -->
    <div class="playerPK" v-show="pk.round>1">
        <div class="pkBack" ></div>
        <div class="pk1" >
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comLeft.png" style="position: absolute;top:0;left:0;width:95%;height:140px;">
            <div class="pkPlayer">
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comB.png" class="background" v-show="pk.round>1">
                <div class="title">{{pk1.nickname}}</div>
                <img v-bind:src="pk1.headimgurl" class="avatar">
                <div class="score">{{pk1.account_score}}</div>
                <div class="quitBack"></div>
            </div>
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comLoser.png" v-show="pk.round==4&&pk1.account_status==7" class="pkLoser" />
        </div>          
        <div class="pk2">
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comRight.png" style="position: absolute;top:0;right:0;width:95%;height:140px;">
            <div class="pkPlayer">
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comB.png" class="background" v-show="pk.round>1">
                <div class="title">{{pk2.nickname}}</div>
                <img v-bind:src="pk2.headimgurl" class="avatar">
                <div class="score">{{pk2.account_score}}</div>
                <div class="quitBack"></div>
            </div>
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comLoser.png" v-show="pk.round==4&&pk2.account_status==7" class="pkLoser" />
        </div>  
        <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comE.gif" v-show="pk.round==3" class="pkE" />
        <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comV.png" v-show="pk.round>2" class="pkV" />
        <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/flower/comS.png" v-show="pk.round>2" class="pkS" />
    </div>
    
    <!-- 排行 -->
    <div class="ranking hideRanking" id="ranking" style="z-index: 0">
        <div class="rankBack">
        <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/nflowerxp/rank_bg.jpg" style="position: absolute;top: 0;left: 0;width: 100%">
        </div>

        <div class="rankText" style="position: absolute;top: 4%;">
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/nflowerxp/rank_frame.png" style="position: absolute;top: 0%;left: 5vw;width: 190vw;">
            <div class="time" v-show="playerBoard.round>0" style="position: absolute;top: 45.5vw;width: 100%;">
                <a style="border-color: #ce6eff;background-color: #382b5e;font-size: 6vw;">房间号:{{game.room_number}}&nbsp&nbsp&nbsp&nbsp{{playerBoard.record}}&nbsp&nbsp&nbsp&nbsp{{game.total_num}}局</a>
            </div>
            <div style="height: 64vw;"></div>         
            <div v-for="p in playerBoard.score" class="scoresItem" v-bind:class="{true: 'scoresItemYellow', false: 'scoresItemWhite'}[p.account_score>0]" v-show="p.account_id>0">
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/rank_bigwinner.png" style="top: 0; margin-top: -2.5vw; left: 4px;height: 100%" v-show="p.isBigWinner==1">
                <div class="name">{{p.nickname}}</div>
                <div class="currentScores"><a v-show="p.account_score>0">+</a>{{p.account_score}}</div>
            </div>
        </div>
        <div class="button roundEndShow">
            <img  crossOrigin="Anonymous" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/rank_save.png" style="float: left;margin-left: 13%;width: 30%" />
            <img  crossOrigin="Anonymous" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/rank_review.png" style="float: right;margin-right: 13%;width: 30%" />
        </div>
    </div>

    <!-- end图片  -->
    <div id="endCreateRoom" class="end" style="position: fixed;width: 100%;height:100%;top:0;left:0;z-index: 120;display: none;overflow: hidden;">
        <img src="" style="width: 100vw;position: absolute;top:0;left: 0;height: 100vh;" id="end"  usemap="#planetmap1" />
        <div id="endCreateRoomBtn" style="position:absolute;right:13vw; width: 30vw; height: 10vw;bottom: 8%;z-index:121;overflow: hidden;" v-on:click="reviewCard()"></div>
        <div id="endCreateRoomBtn" style="position:absolute;right:46vw; width: 10vw; height: 10vw;bottom: 8%;z-index:121;overflow: hidden;" v-on:click="hall()"></div>
    </div>

    <!-- 消息     -->
    <div class="message" v-show="isShowMessage" >
        <div class="messageBack" v-on:click="hideMessage"></div>
        <div class="textPartOuter"></div>
        <div id="message-box" class="textPart" v-bind:style="'height: ' + 0.39 * height + 'px;'">
            <div id="scroll-box" class="textList" style="width: 100%;">
                <div class="textItem" v-for="m in message" v-on:click="messageOn(m.num)">{{m.text}}</div>
            </div>
        </div>
    </div>

    <!-- 游戏规则-->
    <div class="createRoom" id="vroomRule" v-show="ruleInfo.isShowRule" v-on:click="cancelGameRule">
        <div class="createRoomBack"></div>
        <div class="mainPart" >         
            <div  class="createB"></div>
            <div class="createTitle">
                <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/txt_rule.png" />
            </div>  
            
            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/cancel.png" class="cancelCreate" v-on:click="cancelGameRule"/>

            <div class="blueBack">

                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;">
                    <div class="selectTitle">底分：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:12px;">
                            <div class="selectText" >{{ruleInfo.default_score}}</div>
                        </div>
                    </div>
                </div>
                
                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;">
                    <div class="selectTitle">筹码：</div>
                    <div class="selectList" >
                        <div class="selectItem" style="margin-left:12px;">
                            <div class="selectText" >{{scoreList2[0]}}/{{scoreList1[0]}},{{scoreList2[1]}}/{{scoreList1[1]}},{{scoreList2[2]}}/{{scoreList1[2]}},{{scoreList2[3]}}/{{scoreList1[3]}}</div>
                        </div>                                                      
                    </div>
                </div>                          

                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;" v-if="ruleInfo.disable_pk_men==1">
                    <div class="selectTitle">规则：</div>
                    <div class="selectList">                        
                        <div class="selectItem" style="margin-left:12px;" >
                            <div class="selectText" >闷牌，全场禁止比牌</div>
                        </div>
                    </div>
                </div>

                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;">
                    <div class="selectTitle">下注：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:12px;">
                            <div class="selectText" >{{ruleInfo.bet_circle}}轮</div>
                        </div>
                    </div>
                </div>
                
                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;">
                    <div class="selectTitle">比牌：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:12px;">
                            <div class="selectText"> >{{ruleInfo.pk_cond}}轮</div>
                        </div>                          
                    </div>
                </div>

                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;">
                    <div class="selectTitle">血拼：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:12px;">
                            <div class="selectText">  {{ruleInfo.xp_circle}}轮 {{ruleInfo.xp_chip}}分</div>
                        </div>                          
                    </div>
                </div>
                
                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;" >
                    <div class="selectTitle">必闷：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:12px;">
                            <div class="selectText">{{ruleInfo.look_cond}}轮</div>
                        </div>                          
                    </div>
                </div>
                <div class="selectPart" style="height:30px;line-height:30px;padding:6px 0;">
                    <div class="selectTitle">局数：</div>
                    <div class="selectList">
                        <div class="selectItem" style="margin-left:12px;" >
                            <div class="selectText" >{{game.total_num}}局</div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>

    <!-- 设置音频 -->
    <div class="audioRoom" id="vaudioRoom" v-show="editAudioInfo.isShow">
        <div class="audioRoomBack" v-on:click="cancelAudioSetting"></div>
        <div class="mainPart" >         
            <div  class="createB"></div>
            <div class="createTitle" style="height:4vh;">
            </div>  

            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/cancel.png" class="cancelCreate" v-on:click="cancelAudioSetting"/>

            <div class="blueBack">
                <div style="height:0.5vh;"></div>

                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">背景音乐：</div>
                    <div class="selectList" >
                        <div class="selectItem" style="margin-left:10px;" v-on:click="setBackMusic" >
                            <div class="selectBox"></div>
                            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/tick.png" v-show="editAudioInfo.backMusic==1"/>
                            <div class="selectText">开启</div>
                        </div>                          
                    </div>
                </div>

                <div class="selectPart" style="height:4vh;line-height:4vh;padding:0.8vh 0;">
                    <div class="selectTitle">游戏音效：</div>
                    <div class="selectList" >
                        <div class="selectItem" style="margin-left:10px;" v-on:click="setMessageMusic">
                            <div class="selectBox"></div>
                            <img src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/images/common/tick.png" v-show="editAudioInfo.messageMusic==1"/>
                            <div class="selectText">开启</div>
                        </div>                          
                    </div>
                </div>

                <div class="createCommit" v-on:click="confirmAudioSetting" >确定</div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/canvas.js" ></script>
</div>


</body>

<script src="http://103.8.69.108:1999/ttxinshenshou/jweixin-1.0.0.js" ></script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/jquery.marquee.min.js"></script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/bscroll.js"></script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/velocity.js"></script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/vue.min.js" ></script>
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/vue-resource.min.js" ></script> 
<script type="text/javascript" src="http://103.8.69.108:1999/ttxinshenshou/honghu/files/js/nflower-xp.js?v=1212"></script>
<script src="http://103.8.69.108:1999/ttxinshenshou/common/files/js/fuzhi_xl.js?v=2018091192"></script>
<script src="http://103.8.69.108:1999/ttxinshenshou/common_hh/files/js/clipboard.min.js"></script>
<script>
    
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        // 通过下面这个API隐藏右上角按钮
        WeixinJSBridge.call('hideOptionMenu');
    });
</script>
</html>
